@model Tickets.Models.SportViewModel
@using Tickets.Models

@{
    ViewBag.Title = Model.sport.name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.sport.name</h2>

<table>
    <thead>
        <tr>
            <th style="text-align:center;">Team</th>
            <th style="text-align:center;">Current Price</th>
            <th style="text-align:center;">Purchase Ticket</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var t in Model.teams)
        {
            <tr>
                <td>
                    <!--Team Logo-->
                    <img src="@t.logo_url" style="width:40px; height:auto;" />
                    <!--Team Name-->
                    @t.team_name                    
                </td>
                @foreach (var p in Model.prices)
                {
                    if (p.team_id == t.team_id)
                    {
                        <td style="text-align:center;">$@p.price.ToString("0.00")</td>
                    }
                }
                <td style="margin-top:auto; margin-bottom:auto;">
                    <a href="#" class="button expanded">Buy Now</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<table>
    <thead>
        <tr>
            <th colspan="2" style="text-align:center;">@Model.sport.name News</th>
        </tr>
    </thead>
    @foreach (var c in Model.content)
    {
        <tr>
            <td><h3>@c.head</h3></td>
            <td><p>@c.body</p></td>
        </tr>
    }
</table>
